.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.center-label {
    text-align: center;
}

.register-button {
    background-color: #fca311;
    border-color: #fca311;
    color: #ffffff;
}

    .register-button:hover {
        background-color: #e6930b;
        border-color: #e6930b;
    }