.container-index {
    max-width: 1200px;
    margin: 0 auto;
    height: 850px;
    padding: 20px;
    padding-bottom: 30px;
}

h2 {
    margin-top: 0;
    text-align: center;
}

/* Стили для левой колонки со скроллбаром */
.news-column {
    float: left;
    width: 760px;
    height: 800px;
    overflow-y: scroll;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
}

    .news-column h2 {
        padding: 10px; /* Внутренний отступ заголовка */
        z-index: 999;
        text-align: center;
        background-color: #f5f5f5;
    }

.news-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fbf4a987;
    border-radius: 15px 0 15px 0;
    border: 5px solid #000000;
}

.news-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.news-item a {
    color: #333;
    text-decoration: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    line-height: 1.5; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.news-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.news-item p {
    font-size: 14px;
    font-style:italic;
    color: #777;
}


.news-item h3 {
    margin-top: 0;
}

/* Стили для прямоугольников в правой части */
.rectangle {
    overflow: hidden;
    float: left;
    width: 320px;
    height: 400px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.5s ease-out;
}

/* Стили для кнопок карусели */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #eefdc1;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.carousel-button:hover {
    background-color: #87a13a;
}

.carousel-button.previous {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

/* Стили для элементов карусели */
.carousel-item {
    background-color: white;
    text-align: center;
    display: none;
}

.carousel-item h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.carousel-item a {
    color: #333;
    text-decoration: none;
    display: block;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    margin: 15px auto;
    object-fit: cover;
    width: 150px;
    height: 240px;
}

.carousel-item .author {
    font-size: 14px;
    margin-top: 5px;
}

.carousel-item.active {
    display: block;
}

/* Стили для изображений */
/*img {
    max-width: 100%;
    height: auto;
}*/


.rectangle .slide-right {
    animation-name: slideRight;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    z-index: 1;
    transition: transform 0.5s ease-out;
}

.rectangle .slide-left {
    animation-name: slideLeft;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    z-index: 1;
    transition: transform 0.5s ease-out;
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

::-webkit-scrollbar {
    width: 10px; /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Цвет фона трека */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет ползунка */
    border-radius: 5px; /* Закругление углов ползунка */
}