/* обнул€ем стандартные отступы и пол€ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* определ€ем цвета */
body {
    background-color: #F6F6F6;
    color: #333;
    font-family: Arial, sans-serif;
}

header, main, footer {
    padding: 20px;
}

header {
    background-color: #003366;
    color: #FFF;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #FFF;
    text-decoration: none;
}

    nav a:hover {
        text-decoration: underline;
    }

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

ul li {
    margin-bottom: 10px;
}

/* стили дл€ "ѕопул€рные книги" и "Ќовые поступлени€" разделов */
section {
    margin-bottom: 30px;
}

    section ul li a {
        color: #333;
        text-decoration: none;
    }

        section ul li a:hover {
            text-decoration: underline;
        }

/* стили дл€ подвала */
footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 10px;
}
