body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}

/* Шапка сайта */
header {
    background-color: #fbc150;
    margin-bottom: 20px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .logo img {
        width: 169px;
        height: auto;
        margin-right: 15px;
    }

.logo-text {
    background-color: #fff;
    color: #000f;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 10px;
}

.menu li a {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu li a.actives {
    background-color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.menu li a:hover,
.menu li a.active {
    background-color: #fff;
}

/* Подвал сайта */
footer {
    background-color: #fbc150;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
}

/* Адаптивный дизайн */
@media (max-width: 768px) {
    .logo {
        justify-content: center;
    }

    .logo img {
        margin-right: 0;
    }

    .menu {
        margin-top: 10px;
        justify-content: center;
    }

    .menu li {
        margin-right: 5px;
    }

    .footer-content {
        flex-direction: column;
    }

    .contact-info,
    .social-links {
        margin-bottom: 10px;
    }
}


/*.social-links img {
    width: 40px;
    height: 40px;
}*/