.story {
    margin-bottom: 20px;
}

.library-photos {
    height: 300px;
    width: 500px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.library-photos img:hover {
    transform: scale(1.1);
}

.library-photos img {
    width: 100%;
    height: auto;
    transition: transform 1s ease-in-out;
}

.carousel-indicators {
    bottom: 10px;
}
