.container-index {
    max-width: 1200px;
    margin: 0 auto;
    height: 850px;
    padding: 20px;
}

h2 {
    margin-top: 0;
}

/* Стили для левой колонки со скроллбаром */
.news-column {
    float: left;
    width: 760px;
    height: 800px;
    overflow-y: scroll;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
}

.news-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #eefdc1;
    border-radius: 10px 0 0 10px;
}

.news-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.news-item a {
    color: #333;
    text-decoration: none;
}

.news-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.news-item p {
    font-size: 14px;
    font-style:italic;
    color: #777;
}


.news-item h3 {
    margin-top: 0;
}

/* Стили для прямоугольников в правой части */
.rectangle {
    float: left;
    width: 320px;
    height: 400px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
}

/* Стили для кнопок карусели */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.carousel-button:hover {
    background-color: #aaa;
}

.carousel-button.previous {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

/* Стили для элементов карусели */
.carousel-item {
    display: none;
    background-color: white;
    text-align: center;
}

.carousel-item h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.carousel-item a {
    color: #333;
    text-decoration: none;
    display: block;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    margin: 15px auto;
    object-fit: cover;
    width: 150px;
    height: 240px;
}

.carousel-item .author {
    font-size: 14px;
    margin-top: 5px;
}

.carousel-item.active {
    display: block;
}

/* Стили для изображений */
/*img {
    max-width: 100%;
    height: auto;
}*/
